# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Django
db.sqlite3
/media/*
!/media/.gitkeep
/staticfiles/
*.log

# Mediu
.env

# Unelte
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
